Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function.

In [1]:
cric = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [2]:
cric

[('Sachin Tendulkar', 34357),
 ('Ricky Ponting', 27483),
 ('Jack Kallis', 25534),
 ('Virat Kohli', 24936)]

In [12]:
sot = sorted(cric, key = lambda x : x[1])

In [13]:
sot

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.

In [14]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [40]:
list(map(lambda x : x**2,num))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions

In [5]:
num = [1,2,3,4,5,6,7,8,9,10]

In [6]:
reult = tuple(map(lambda x : str(x), num))

In [7]:
result

('1', '2', '3', '4', '5')

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [28]:
my_list = []
for i in range(1,26):
    my_list.append(i)

In [29]:
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [30]:
prod = list(map(lambda x : x*x, my_list))

In [31]:
print(prod)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625]

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.

In [32]:
div = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [35]:
list(filter(lambda x : x%2==0 or x%3==0, div))

[2, 3, 6, 9, 27, 60, 90, 120, 46]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.

In [37]:
pp = ['python', 'php', 'aba', 'radar', 'level']

In [38]:
filter(lambda x : x ==x[::-1], pp)