#Q1 For And While Loop

In [6]:
Total = 0

for i in list(range(1,11)):
    Total = Total + i
print("The sum of List is:",Total)

The sum of List is: 55

In [15]:
L = list(range(1,11))
Total = 0
n = 1
while n <= len(L):
    Total = Total + n
    n = n+1
print("The sum of List is:",Total)

The sum of List is: 55

Q2 - For and while loop

In [16]:
Sum = 0
Product = 1

l1 = list(range(1,11))
for i in l1:
    Sum = Sum + i
    
for i in l1:
    Product = Product * i
    
print("Sum:",Sum)
print("Product",Product)

Sum: 55
Product 3628800

Q3 - Consumption of electricity bill

In [51]:
units_consumed = int(input("Enter the units of electricity consumed in a month: "))
total_bill = 0

if units_consumed <= 100:
    total_bill += units_consumed * 4.5
elif units_consumed <= 200:
    total_bill += 100 * 4.5
    total_bill += (units_consumed - 100) * 6
elif units_consumed <= 300:
    total_bill += 100 * 4.5
    total_bill += 100 * 6
    total_bill += (units_consumed - 200) * 10
else:
    total_bill += 100 * 4.5
    total_bill += 100 * 6
    total_bill += 100 * 10
    total_bill += (units_consumed - 300) * 20

print("Total electricity bill:", total_bill)

Enter the units of electricity consumed in a month:  310

Total electricity bill: 2250.0

Q4 - find cude which divided by 4 and 5

In [29]:
cube = list(range(1,101))
cube
new = []
for i in cube :
    if (i*i*i)%4 ==0 or (i*i*i)%5 ==0 :
        new.append(i)
print(new)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

Q5 - count vowels

In [49]:
string = "I want to become a data scientist"
count = 0
for i in string:
    if i.lower() in {'a', 'e', 'i', 'o', 'u', 's'}:
        count = count + 1
print(count)

14